<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Pollution</title>
</head>

<body>
    <a href= "{{url_for('linear_regression')}}" >Linear Regression</a>
    <a href="{{url_for('logistic_regression')}}">Logistic Regression</a>
    <a href="{{url_for('randomforest')}}">Random Forest</a>
    <a href="{{url_for('decisiontree')}}">Decision Tree</a>
    
</body>

</html>